*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	min-height: 100%;
}
html{
	box-sizing: border-box;
	min-height: 100%;
	
}
.panels{
	display: flex;
	overflow: hidden;	
}
.disable {
	display: none;
}
.panel{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3%;
	font-family: 'Shadows Into Light Two', cursive;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	align-items: center;
	width: 100%;
  min-height: 100vh;
  flex: 1;
	line-height: 30px;
	justify-content: center;
	flex-direction: column;
	background-position: center;
	overflow: hidden;
	font-size: 32px;
	font-weight: normal;
	opacity: 0.9;
	transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.3s;
}
.open{
	font-size: 0px;
	line-height: 70px;
	flex: 5;
	opacity: 1;
	
}

.monkey{
	width: 250px;
	height: 250px;
	background-image: url('monkey1.png');
	background-size: 200px 200px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	

}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    
}

.swing:after{
    content: '';
    position: absolute;  
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.swing:before{
    content: '';
    position: absolute;
    top: -14px;left: 54%;
    z-index: 5;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.monkeyToggle{
	background-image: url('monkey2.png');
	background-position: center;
	background-size: cover;
	background-size: 200px 200px;
	margin: 0 auto;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	margin-top: 30vh;
	
}

.panel-1{
	background-image: url('images/bear.jpg');
}
.panel-2{
	background-image: url('images/sparrow.jpg');
}
.panel-3{
	background-image: url('images/panda.jpeg');
}
.panel-4{
	background-image: url('images/parrot.jpg');
	
}
.panel-5{
	background-image: url('images/lemur.jpg');
}
.panel-6 {
	background-color: #e5e247;
	color: #2a4c60;
}

.click {
	font-size: 18px;
}
